.share{
    width: 100%;
    border-radius: 10px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.shareWrapper{
    padding: 10px;
}
.shareTop{
    display: flex;
    align-items: center;
}
.shareProfileImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;

}
.shareInput{
    width: 80%;
    border: none;
    background-color: #edf0f5;
    border-radius: 20px;
    height: 20px;
    padding: 12px 16px ;
}
.shareInput:focus{
    outline: none;
}
.shareHr{
    margin: 20px;
}
.shareBot{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shareOptions{
    display: flex;
    margin-left: 20px;

}
.shareOption{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}
.shareIcon{
    font-size: 18px;
    margin-right: 3px;
}
.shareOptionText{
    font-size: 14px;
    font-weight: 500;
}
.shareButton{
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: rgb(4, 131, 30);
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-right: 20px;
}
.shareImgContainer{
    position: relative;
    padding: 0px 20px 10px 20px;
}
.shareImg{
    width: 100%;
    object-fit: cover;
}
.shareCancleImg{
    position: absolute;
    top: 0;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
}